.container{
    .message{
        border:1px solid blue;
        background:none;
        color:blue;
    }
    .explain{
        margin-top: 50px;
    }
    .first-view{
        width: 300px;
        @media screen and (min-width:768px){
            width: 400px;
        }
    }
    .login{
        .column{
            width: 140px;
            .logout{
                border:none;
                background:none;
                color: #485fc7;
                font-size: 16px;
                &:hover{
                    cursor:pointer;
                    color:#000;
                }
            }
        }
        .wrap{
            width:fit-content;
            img{
                height: 100px;
            }
        }
        table, th, td{
            border:1px solid #000;
        }
    }
    .menu-img{
        width: 200px;
    }
    .sorry-img{
        height: 200px;
    }
    .top-back{
        text-decoration:underline;
    }
    .question-wrap{
        input{
            font-size: 13px;
            cursor:pointer;
            @media screen and (min-width:768px){
                font-size: 16px;
            }
        }
    }
    p, a, table{
        font-size: 13px;
        @media screen and (min-width:768px){
            font-size: 16px;
        }
    }
}
.question-container{
    width: 90%;
    @media screen and (min-width:768px){
        width: 700px;
    }
    .question{
        width: 200px;
    }
    .result{
        margin-top: 20%;
    }
    .message{
        border:1px solid blue;
        background:none;
        color:blue;
    }
    .back{
        text-decoration:underline;
    }
}