.container .message {
  border: 1px solid blue;
  background: none;
  color: blue;
}
.container .explain {
  margin-top: 50px;
}
.container .first-view {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .container .first-view {
    width: 400px;
  }
}
.container .login .column {
  width: 140px;
}
.container .login .column .logout {
  border: none;
  background: none;
  color: #485fc7;
  font-size: 16px;
}
.container .login .column .logout:hover {
  cursor: pointer;
  color: #000;
}
.container .login .wrap {
  width: -moz-fit-content;
  width: fit-content;
}
.container .login .wrap img {
  height: 100px;
}
.container .login table, .container .login th, .container .login td {
  border: 1px solid #000;
}
.container .menu-img {
  width: 200px;
}
.container .sorry-img {
  height: 200px;
}
.container .top-back {
  text-decoration: underline;
}
.container .question-wrap input {
  font-size: 13px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .container .question-wrap input {
    font-size: 16px;
  }
}
.container p, .container a, .container table {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .container p, .container a, .container table {
    font-size: 16px;
  }
}

.question-container {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .question-container {
    width: 700px;
  }
}
.question-container .question {
  width: 200px;
}
.question-container .result {
  margin-top: 20%;
}
.question-container .message {
  border: 1px solid blue;
  background: none;
  color: blue;
}
.question-container .back {
  text-decoration: underline;
}
